/* Variables colores */
/* Definición de variables para colores primarios*/
:root {
    --color-neutro-claro: #FFF0F0; 
    --color-neutro-oscuro: #0C0811;
}

/* Definición de variables para colores primarios*/
:root {
    --color-primario: #FF9494; /* Color rosa */
    --color-primario-oscuro-1: #FF6161; 
    --color-primario-oscuro-2: #FF2D2D;
    --color-primario-oscuro-3: #FA0000;
    --color-primario-oscuro-4: #C70000;
    --color-primario-oscuro-5: #940000;
    --color-primario-oscuro-6: #610000;
    --color-primario-claro-1: #FFC7C7;
    --color-primario-claro-2: #FFEBEB;
}

/* Definición de variables para colores secundarios */
:root {
    --color-secundario: #483163; 
    --color-secundario-oscuro-1: #2D1F42;
    --color-secundario-oscuro-2: #140D21;
    --color-secundario-claro-1: #614285;
    --color-secundario-claro-2: #7A53A7;
    --color-secundario-claro-3: #9473BA;
    --color-secundario-claro-4: #AE95CB;
    --color-secundario-claro-5: #C8B7DC;
    --color-secundario-claro-6: #E2D9EC;
}