
/* Estilos generales */
    * {
        font-family: "Merriweather", serif;
        color: var(--color-neutro-oscuro);
    }

    /* Haz que el favicon sea redondo */
    link[rel="icon"] {
        border-radius: 50%; /* Hace que el borde sea redondeado */
    }
    html{
        min-width: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: var(--color-fondo-claro);
    }




/* Estilos para el menú de navegación */
    /* Espacio para el menu de navegacion */
    #espacio-nav{
        grid-area: H;
        width: 100%;
        height: 80px;
    }
    /* Estilos nav generales */
    nav {
        
        white-space: nowrap;
        grid-area: N;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d9d9d9;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        text-decoration: none;
    }
    /* Estilos para  el logo */
    .logo-container .logo-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5px;
        text-decoration: none;
    }
    .logo {
        background-image: url('../images/icon/logo_boda.png');
        background-size: contain;
        background-position: center;
        border-radius: 100%; /* Hace que el contenedor sea redondo */
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }


    .nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 32px;
        padding-right: 32px;
        width: 100%;
        position: fixed;
        background: var(--color-neutro-claro);
        z-index: 1000;
    }
    

    /* Estilos direcciones*/
    .right-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .nav-links li{
        margin-right: 32px;
    }
    /* Estilos iconos */
    .nav-icons a i {
        font-size: 20px; /* Tamaño del icono */
        color: var(--color-secundario-claro-3);
        margin: 0 32px;
    }
    .nav-icons a i:hover {
        color: var(--color-secundario-claro-2);
    }

/* Estilos para el encabezado */
    /* Espacio para el header */


    .header-home{
        display: flex; /* Usa un contenedor flexible para alinear los elementos */
        justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal (horizontalmente) */
        align-items: center; /* Centra verticalmente los elementos */
        grid-area: H;
        padding: 0;
        margin: 0;
        border-bottom: 0.5px solid #d9d9d9;
/*         height: 400px; */

    }
    /* ESPACIO PARA EL NAV tiene que despues de los estilos del header*/
    .espacio-nav{
        /* ESPACIO PARA EL NAV */
        padding-top: 80px;
    }
    /* Estilos para la parte izquierda del encabezado */
        .header-izquierda {
            flex: 1; /* Ocupa todo el espacio disponible en el contenedor flexible */
            width: 50%; /* Ocupa la mitad del ancho de la pantalla */
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: stretch;
            padding: 32px;
        }

        .text-header {
            display: flex;
            flex-direction: column;
            align-content: center;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        .text-header h1{
            color: var(--color-primario-oscuro-1);
        }
        .text-header p{
            margin-block-start: 1em;
            margin-block-end: 1em;
        }

        /* Estilos para los controles del audio */
        audio::-webkit-media-controls-panel {
            background-color: var(--color-neutro-claro); /* Cambia el color de fondo de los controles en Chrome, Safari, y Opera */
        }

        audio::-webkit-media-controls-play-button,
        audio::-webkit-media-controls-pause-button,
        audio::-webkit-media-controls-mute-button,
        audio::-webkit-media-controls-volume-slider,
        audio::-webkit-media-controls-timeline,
        audio::-webkit-media-controls-current-time-display,
        audio::-webkit-media-controls-time-remaining-display,
        audio::-webkit-media-controls-seek-back-button,
        audio::-webkit-media-controls-seek-forward-button {
            background-color: var(--color-neutro-claro); /* Cambia el color de fondo de los botones */
        }

        /* Estilos para Firefox */
        audio::-moz-range-track {
            background-color: var(--color-neutro-claro); /* Cambia el color de fondo de la pista de progreso en Firefox */
        }


        /* SEARCH BAR */


        .search-container input[type="text"] {
            box-shadow: 0 2px 8px #00000026;
            width: 70%;
            padding: 10px 20px;
            border-radius: 20px;
            border: none;
            outline: none;
            font-size: 16px;
            background-color: #A084CA;
            background-image: linear-gradient(to right, #957DAD, #A084CA);
            color: white;
        }

        .search-container input[type="text"]::placeholder {
            color: white;
            opacity: 1;
        }

        /* Añade tu ícono de lupa aquí */
        .search-container::before {
            content: ''; /* Utiliza una imagen o un ícono de fuente */
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            /* Añade estilos para tu ícono aquí */
        }



    /* Estilos para la parte derecha del encabezado */
        .header-derecha {
            flex-shrink: 0; /* No se encoge para adaptarse al contenido */
            width: 50%; /* Ocupa la mitad del ancho de la pantalla */
            height: 100%; /* Ocupa toda la altura del contenedor */
            /*             position: relative; */
            overflow: hidden;
        }

        /* Estilos para hacer la imagen header responsive */
        .imagen-header {
            width: 100%; /* La imagen ocupará todo el ancho del contenedor padre */
            height: 100%; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
            display: block; /* Elimina el espacio adicional debajo de la imagen */
            margin: 0 auto; /* Centra la imagen horizontalmente */
        }

        /**
         * Representa el componente de carrusel.
         *
         * El componente de carrusel es responsable de mostrar una colección de imágenes en un diseño horizontal.
         * Admite transiciones suaves y tiene una altura fija de 500 píxeles.
         */
        .carousel {
            display: flex;
            transition: transform 0.5s ease;
            width: 100%;
            height: 500px;
        }

        /**
         * Representa las imágenes dentro del componente de carrusel.
         *
         * Las imágenes dentro del carrusel se muestran utilizando la propiedad "object-fit: contain",
         * que asegura que toda la imagen sea visible dentro del contenedor sin distorsionar su relación de aspecto.
         * Las imágenes tienen un ancho y alto del 100%, y un ancho mínimo del 100% para llenar el espacio disponible.
         */
        .carousel img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            min-width: 100%;
        }

        


/* Estilos para el contenido principal */
    main {
        grid-area: M;
    }

    /* Estilos para el pie de página */
    footer {
        grid-area: F;
    }

    .ContenedorGrid {
        /* Grilla para el diseño de la web */
        width: 100%;  
        display: grid;
        grid-gap: 1px;
        grid-template-columns: auto 1fr auto; /* Columnas ajustadas automáticamente, contenido principal flexible, y espacio */
        grid-template-rows: auto auto 1fr auto auto; /* Filas para el menú, encabezado, contenido principal, footer y espacio */
        grid-template-areas: 
            "N N N"
            "H H H"
            "M M M"
            "M M M"
            "F F F";
    }





/* Estilo para el inicio de sesion */
    #login-form-asideindex{
        overflow: hidden; /* Oculta las barras de desplazamiento */
        position: fixed;
        top: 81px;
        right: -400px; /* Posición inicial fuera de la pantalla */
        width: auto; /* El ancho se ajustará automáticamente al contenido */
        max-width: 400px; /* El ancho se ajustará automáticamente al contenido */
        height: 100%;
        z-index: 1000;
        transition: right 0.5s ease; /* Animación de transición */
        border-left: 0.5px solid #d9d9d9;

        padding: 0px;
        margin: 0px;
    }
    .aside-object {
        padding: 0px;
        margin: 0px;
        width: 400px; /* Ancho del elemento al 100% del contenedor */
        height: 100%; /* Altura del elemento al 100% del contenedor */
        overflow: hidden; /* Oculta las barras de desplazamiento */
        background-color: var(--color-neutro-claro);
    }

/* Hover para los Nav Links*/

.nav-link-1,
.nav-link-2 {

    border-bottom: 2px solid transparent;
    /* Initial border color */
    transition: color 0.3s, border-bottom-color 0.3s;
    /* Smooth transition */
}

.nav-link-1:hover {
    border-bottom: 2px solid var(--color-secundario-claro-1);
    color: var(--color-secundario-claro-1);
}

.nav-link-2:hover {
    
    border-bottom: 2px solid var(--color-secundario-claro-1);
    
    color: #957DAD;
    
}



/* Estilos Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-neutro-claro);
    border-top: 1px solid #d9d9d9;
    padding: 16px;
    font-size: 14px;
    color: var(--color-neutro-oscuro);
}

/* precio-div */
.precio-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}