
/* Estilos generales */
* {
    font-family: "Merriweather", serif;
    color: var(--color-neutro-oscuro);
}

/* Haz que el favicon sea redondo */
link[rel="icon"] {
    border-radius: 50%; /* Hace que el borde sea redondeado */
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-neutro-claro);
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    grid-area: H;
}




/* Estilos para el menú de navegación */
    /* Estilos nav generales */
    nav {
        white-space: nowrap;
        grid-area: N;
        display: flex;
        align-items: center;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        text-decoration: none;
    }
    /* Estilos para  el logo */
    .logo-container .logo-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5px;
        text-decoration: none;
    }
    .logo {
        background-image: url('/Templates/images/icon/logo_boda.png');
        background-size: contain;
        background-position: center;
        border-radius: 100%; /* Hace que el contenedor sea redondo */
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }
    .logo-text{

    }

    .nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 32px; 
        padding-right: 32px;
    }

    /* Estilos direcciones*/
    .right-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .nav-links li{
        margin-right: 32px;
    }
    /* Estilos iconos */
    .nav-icons a i {
        font-size: 32px; /* Tamaño del icono */
        color: var(--color-secundario-claro-1);
        margin: 0 32px;
    }
    .nav-icons a i:hover {
        color: var(--color-secundario-claro-2);
    }



/* Estilos para el contenido principal */
main {
    grid-area: M;
}

/* Estilos para el pie de página */
footer {
    grid-area: F;
}

.ContenedorGrid {
    /* Grilla para el diseño de la web */
    width: 100%;  
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "N N N N"
                         "H H H H" 
                         "M M M M"
                         "M M M M"
                         "F F F F";  
}