<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Comprar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Links para css -->
        <link href="../../static/css/font.css" rel="stylesheet">
        <link href="../../static/css/style.css" rel="stylesheet">
        <link href="../../static/css/colors.css" rel="stylesheet">

        <link href="../static/css/style_element/cards.css" rel="stylesheet">
        <link href="../static/css/style_element/comprar.css" rel="stylesheet">

        
        <!-- Link Fuente  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

        <!-- Link Icono -->
        <link rel="icon" href="../../static/images/icon/logo_boda.png" type="image/png" sizes="32x32" style="border-radius: 50%; "/>


        <!-- Link para js -->
        <!-- Link para js <script src="../static/js/script.js"></script> --> <!--DESACTIVADO PARA PODER TRABAJAR CON LOS COPY-->

        <!-- Link para font aweosome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
<body>
    <!-- Barra de Navegación -->
    <nav class="nav-container">
        <!-- Logo y nombre -->
        <div class="logo-container text-h2">
            <a href="/" class="logo-link">
                <div class="logo"></div>
                <span class="logo-text">Boda Fácil</span>
            </a>
        </div>
        
        <div class="right-nav">
            <ul class="nav-links text-body">
                <li class="nav-link-1"><a href="/miboda">MI BODA</a></li>
                <li class="nav-link-2"><a href="/acercade">ACERCA DE</a></li>
<!--                     <li><a href="/inicionsesion">inicionsesion</a></li>
                <li><a href="/registrarusuario">registrarusuario</a></li> -->
            </ul>
    
            <div class="nav-icons">
                <!-- Los iconos se pueden agregar usando una biblioteca de iconos como Font Awesome -->
                <a href="#" title="Go to User Section" id="user-icon"> <!-- Añade el ID 'user-icon' aquí -->
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </div>
    </nav>

    <aside id="login-form-asideindex">
        <!-- Aquí se cargará el formulario de inicio de sesión -->
    </aside>
    <header class="espacio-nav "></header>

    <h2 class="main-title">Confirmar Compra</h2>
    <main class="main">
        

        <div class="main-izquierdo">


        </div>

        <div class="main-derecho">
            <div id="resumen-compra" class="contenedor-resumen-compra">
                <!-- Resumen de la compra se mostrará aquí -->
            </div>
        
            <form action="/comprar" method="POST" id="form-compra">
                <input type="hidden" name="cart" id="cart-input">
                <button type="submit" class="card-button">Confirmar Compra</button>
            </form>
        </div>


        
    </main>



    <script>
        // Cargar el resumen de la compra
        function loadResumenCompra() {
            const cart = JSON.parse(localStorage.getItem('cart')) || [];
            const resumenDiv = document.getElementById('resumen-compra');
            let total = 0;

            cart.forEach(product => {
                const productDiv = document.createElement('div');
                productDiv.innerHTML = `
                    <div class="product-info">
                        <h3 class="text-body">${product.name}:</h3>
                        <p class="text-body-little">${product.description}'</p>
                        <p class="text-body">$ ${product.price}</p>
                    </div>
                `;
                resumenDiv.appendChild(productDiv);
                total += parseFloat(product.price);
                console.log(product);
            });

            const totalDiv = document.createElement('div');
            totalDiv.className = 'total-amount';
            totalDiv.innerHTML = `<h3>Total: $${total.toFixed(2)}</h3>`;
            resumenDiv.appendChild(totalDiv);

            // Set the cart data in the hidden input field
            document.getElementById('cart-input').value = JSON.stringify(cart);
        }

        window.onload = loadResumenCompra;
    </script>

    <script src="../static/js/asideuser.js"></script>
</body>
</html>
