<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Boda Facil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Links para css -->
        <link href="static/css/font.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">
        <link href="static/css/colors.css" rel="stylesheet">
        
        
        

        <!-- Link Fuente  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

        <!-- Link Icono -->
        <link rel="icon" href="static/images/icon/logo_boda.png" type="image/png" sizes="32x32" style="border-radius: 50%; "/>


        <!-- Link para js -->
        <script src="js/script.js"></script>

        <!-- Link para font aweosome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    </head>




    <body ><!-- GRID CAUSANDO PROBLEMAS, HASTA ENTONCES COMENTADO: class="ContenedorGrid" -->
        
        <!-- Barra de Navegación -->
        <nav class="nav-container">
            <!-- Logo y nombre -->
            <div class="logo-container text-h2">
                <a href="index.html" class="logo-link">
                    <div class="logo"></div>
                    <span class="logo-text">Boda Facil</span>
                </a>
            </div>
            
            <div class="right-nav">
                <ul class="nav-links text-body">
                    <li><a href="#mi_boda">MI BODA</a></li>
                    <li><a href="#acerca_de">ACERCA DE</a></li>
                </ul>
        
                <div class="nav-icons">
                    <!-- Los iconos se pueden agregar usando una biblioteca de iconos como Font Awesome -->
                    <a href="#" title="Go to User Section" id="user-icon"> <!-- Añade el ID 'user-icon' aquí -->
                        <i class="fas fa-user"></i>
                    </a>
                </div>
            </div>


        </nav>
        <aside id="login-form">
            <!-- Aquí se cargará el formulario de inicio de sesión -->
        </aside>
        <aside id="register-form">
            <!-- Aquí se cargará el formulario de registrar sesion -->
        </aside>
        <!-- Sección del Header -->
        <header>
            
            <div class="header-izquierda">
                <div class="text-header">
                    <h1 class="text-h1">¡Bienvenidos a Boda Facil!</h1>
                    <p class="text-body">
                        Su compañero de confianza en la planificación de bodas.<br>
                        Nuestro objetivo es hacer realidad la boda de sus sueños, brindándoles una experiencia personalizada y sin estrés.
                    </p>
                </div>

                <!-- Barra de Búsqueda -->
                <div class="search-container">
                    <input type="text" placeholder="Buscar" id="search">
                </div>
                
            </div>
        
            <div class="header-derecha">
                <!-- imagen relacionada-->
                <img src="static/images/Boda/Bodapruebaheader.jpg" alt="Imagen Descriptiva" class="imagen-header">
            </div>
            
        </header>

        <main>
            <section class="cards-container">
                <div class="cards-container-up">
                    <div class="card">
                        <img src="static/images/Boda/Bodapruebaheader.jpg" alt="Imagen del Producto">
                        <div class="card-info">
                          <h2>Nombre del Producto</h2>
                          <p>Descripción del Producto</p>
                          <button class="card-button">Contáctanos</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="static/images/Boda/Bodapruebaheader.jpg" alt="Imagen del Producto">
                        <div class="card-info">
                          <h2>Nombre del Producto</h2>
                          <p>Descripción del Producto</p>
                          <button class="card-button">Contáctanos</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="static/images/Boda/Bodapruebaheader.jpg" alt="Imagen del Producto">
                        <div class="card-info">
                          <h2>Nombre del Producto</h2>
                          <p>Descripción del Producto</p>
                          <button class="card-button">Contáctanos</button>
                        </div>
                    </div>

                </div>
                <div class="cards-container-down">
                    <div class="card">
                        <img src="static/images/Boda/Bodapruebaheader.jpg" alt="Imagen del Producto">
                        <div class="card-info">
                          <h2>Nombre del Producto</h2>
                          <p>Descripción del Producto</p>
                          <button class="card-button">Contáctanos</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="static/images/Boda/Bodapruebaheader.jpg" alt="Imagen del Producto">
                        <div class="card-info">
                          <h2>Nombre del Producto</h2>
                          <p>Descripción del Producto</p>
                          <button class="card-button">Contáctanos</button>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2>¿Que es Boda Facil?</h2>
                <p>Boda Facil es una empresa dedicada a la organizacion de bodas, con mas de 10 años de experiencia en el mercado</p>
            </section>
            <section>
                <h2>¿Quienes somos?</h2>
                <p>Somos una empresa dedicada a la organizacion de bodas, con mas de 10 años de experiencia en el mercado</p>
            </section>

            <section>
                <h2>¿Que hacemos?</h2>
                <p>Organizamos tu boda de manera facil y rapida, con los mejores proveedores del mercado</p>
            </section>

            <section>
                <h2>¿Por que elegirnos?</h2>
                <p>Porque tenemos los mejores precios y los mejores proveedores del mercado</p>
            </section>
        </main>

        <footer>
            <p>2024 Boda Facil</p>
            <p>Todos los derechos reservados</p>
        </footer>

        <!-- CARGAR SCRIPTS -->
        <script src="static/ScriptsJS/user/asideuser.js"></script>

    </body>


</html>

<style>

</style>