<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title>Boda Ideal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Links para css -->
        <link href="../../static/css/font.css" rel="stylesheet">
        <link href="../../static/css/style.css" rel="stylesheet">
        <link href="../../static/css/colors.css" rel="stylesheet">

        <link href="../static/css/style_element/cards.css" rel="stylesheet">

        <link href="../static/css/style_element/miboda.css" rel="stylesheet">
        
        <!-- Link Fuente  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

        <!-- Link Icono -->
        <link rel="icon" href="../../static/images/icon/logo_boda.png" type="image/png" sizes="32x32" style="border-radius: 50%; "/>


        <!-- Link para js -->
        <!-- Link para js <script src="../static/js/script.js"></script> --> <!--DESACTIVADO PARA PODER TRABAJAR CON LOS COPY-->

        <!-- Link para font aweosome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    </head>
</head>
<body>
    <!-- Barra de Navegación -->
    <nav class="nav-container">
        <!-- Logo y nombre -->
        <div class="logo-container text-h2">
            <a href="/" class="logo-link">
                <div class="logo"></div>
                <span class="logo-text">Boda Ideal</span>
            </a>
        </div>
        
        <div class="right-nav">
            <ul class="nav-links text-body">
                <li class="nav-link-1"><a href="/miboda">MI BODA</a></li>
                <li class="nav-link-2"><a href="/acercade">ACERCA DE</a></li>
<!--                     <li><a href="/inicionsesion">inicionsesion</a></li>
                <li><a href="/registrarusuario">registrarusuario</a></li> -->
            </ul>
    
            <div class="nav-icons">
                <!-- Los iconos se pueden agregar usando una biblioteca de iconos como Font Awesome -->
                <a href="#" title="Go to User Section" id="user-icon"> <!-- Añade el ID 'user-icon' aquí -->
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </div>
    </nav>

    <aside id="login-form-asideindex">
        <!-- Aquí se cargará el formulario de inicio de sesión -->
    </aside>
    <header class="espacio-nav "></header>






    <main class="main-catalogo">
        <div class="catalogo-servicios">
            <aside class="menu-catalogo">
                <h3>Servicios</h3>
                <a href="#boda-ceremonia"><button>Boda/Ceremonia</button></a>
                <div class="menu-catalogo-seccion">
                    <a href="#boda-ceremonia-anillo-de-boda"><button>Anillo de boda</button></a>
                    <a href="#boda-ceremonia-carro-de-matrimonio"><button>Carro de matrimonio</button></a>
                    <a href="#boda-ceremonia-catering-banquete"><button>Catering y banquete</button></a>
                    <a href="#boda-ceremonia-decoracion-de-mesa"><button>Decoración de mesa</button></a>
                    <a href="#boda-ceremonia-lugar"><button>Lugar ceremonia</button></a>
                    <a href="#boda-ceremonia-mesa-de-regalos"><button>Mesa de regalos</button></a>
                    <a href="#boda-ceremonia-musica"><button>Música</button></a>
                    <a href="#boda-ceremonia-pastel"><button>Pastel de boda</button></a>
                    <a href="#boda-ceremonia-sesion-fotografica"><button>Sesión fotográfica</button></a>
                    <a href="#boda-ceremonia-invitaciones"><button>Tipo de invitaciones</button></a>
                </div>
            
                <a href="#luna-de-miel"><button>Luna de Miel</button></a>
                <div class="menu-catalogo-seccion">
                    <a href="#luna-de-miel-isla-maldivas"><button>Isla Maldivas</button></a>
                    <a href="#luna-de-miel-marruecos"><button>Marruecos</button></a>
                    <a href="#luna-de-miel-mykonos"><button>Mykonos</button></a>
                    <a href="#luna-de-miel-santorini"><button>Santorini</button></a>
                    <a href="#luna-de-miel-venecia"><button>Venecia</button></a>
                </div>
            
                <a href="#novia"><button>Novia</button></a>
                <div class="menu-catalogo-seccion">
                    <a href="#novia-flores"><button>Flores</button></a>
                    <a href="#novia-joyeria"><button>Joyería</button></a>
                    <a href="#novia-peinados"><button>Peinados</button></a>
                    <a href="#novia-vestido-de-fiesta"><button>Vestido de fiesta</button></a>
                    <a href="#novia-vestido-de-novia"><button>Vestido de novia</button></a>
                </div>
            
                <a href="#novio"><button>Novio</button></a>
                <div class="menu-catalogo-seccion">
                    <a href="#novio-accesorios"><button>Accesorios</button></a>
                    <a href="#novio-traje-de-novio"><button>Traje de Novio</button></a>
                </div>
            </aside>
            
            <div class="container-carrito-botton">
                <a class="text-h3" href="/carrito" onclick="moveToCart()" title="Go to Cart">
                    <!-- icono carrito de Font Awesome -->
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>

            <!-- 
            Este archivo HTML define la estructura del catálogo de productos.
            Cada sección representa una categoría de productos, como "Anillo de boda" o "Carro de matrimonio".
            Dentro de cada sección, se definen múltiples tarjetas de productos con su información correspondiente.

            Atributos utilizados:
            - id="" data-section: identifica la categoría de productos.
            - data-product-id: especifica el ID único del producto dentro de su sección.
            - data-selected="false": indica si la tarjeta del producto está seleccionada o no. con valores false o true

            La función toggleCard se utiliza para manejar la selección de productos. Cuando se hace clic en un botón "Ver más info",
            la tarjeta del producto correspondiente se marca como seleccionada y las demás tarjetas dentro de la misma sección
            se desmarcan.
            -->
            <div class="espacio-menu-catalogo contenedor-catalogo">
                <h2 class="main-title">PRODUCTOS PARA TU BODA</h2>
                <div id="boda-ceremonia" class="service">
                    
                    <h2 class="cards-main-title">Boda/Ceremonia</h2>
                    <!-- Sección Anillo de boda -->
                    <div class="section" id="boda-ceremonia-anillo-de-boda" data-section="boda-ceremonia-anillo-de-boda">
                        <audio id="musicaFondo" class="audio" controls>
                            <source src="/static/audio/Les Accordées - Veridis Quo (Daft Punk cover __ cello and violin).mp3" type="audio/mpeg">
                            Tu navegador no soporta el elemento de audio.
                        </audio>
                    
                        <script>
                            // Reproducir la música automáticamente al cargar la página
                            window.addEventListener('load', function() {
                                var audio = document.getElementById('musicaFondo');
                                audio.play();
                            });
                        </script>
                        <h3>Anillo de boda</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in anillo_de_boda %}
                                {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->
<!--                            <script>
                                    console.log({{ contador_img }});
                                </script> -->

                                <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Boda-Ceremonia/Anillo de boda/Argolla ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- Sección Carro de matrimonio -->
                    <div class="section" id="boda-ceremonia-carro-de-matrimonio" data-section="boda-ceremonia-carro-de-matrimonio">
                        <h3>Carro de matrimonio</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in carro_de_matrimonio %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Boda-Ceremonia/Carro de matrimonio/Carro ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- boda-ceremonia-catering-banquete -->
                    <div class="section" id="boda-ceremonia-catering-banquete" data-section="boda-ceremonia-catering-banquete">
                        <h3>Catering y banquete</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in catering_banquete %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Boda-Ceremonia/Catering y banquete/Banquete/Cena ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- boda-ceremonia-decoracion-de-mesa -->
                    <div class="section" id="boda-ceremonia-decoracion-de-mesa" data-section="boda-ceremonia-decoracion-de-mesa">
                        <h3>Decoración de mesa</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in decoracion_mesa %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Boda-Ceremonia/Centro de mesa/Centro ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- boda-ceremonia-lugar -->
                    <div class="section" id="boda-ceremonia-lugar" data-section="boda-ceremonia-lugar">
                        <h3>Lugar ceremonia</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in lugar_ceremonia %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Boda-Ceremonia/Lugar ceremonia/Lugar ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- boda-ceremonia-mesa-de-regalos -->
                    <div class="section" id="boda-ceremonia-mesa-de-regalos" data-section="boda-ceremonia-mesa-de-regalos">
                        <h3>Mesa de regalos</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in mesa_regalos %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Boda-Ceremonia/Mesa de regalos/Mesa ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- Sección Música -->
                    <div class="section" id="boda-ceremonia-musica" data-section="boda-ceremonia-musica">
                        <h3>Música</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in musica %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Boda-Ceremonia/Musica/Musica ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Sección Pastel de boda -->
                    <div class="section" id="boda-ceremonia-pastel-de-boda" data-section="boda-ceremonia-pastel-de-boda">
                        <h3>Pastel de boda</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in pastel_boda %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Boda-Ceremonia/Pastel de boda/Pastel ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Sección Sesión fotográfica -->
                    <div class="section" id="boda-ceremonia-sesion-fotografica" data-section="boda-ceremonia-sesion-fotografica">
                        <h3>Sesión fotográfica</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in sesion_fotografica %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Boda-Ceremonia/Sesion fotografica/Foto ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Sección Tipo de invitaciones -->
                    <div class="section" id="boda-ceremonia-tipo-de-invitaciones" data-section="boda-ceremonia-tipo-de-invitaciones">
                        <h3>Tipo de invitaciones</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in tipo_invitaciones %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Boda-Ceremonia/Tipo de Invitaciones/Invitacion ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                
                <div id="luna-de-miel" class="service">
                    <h2 class="cards-main-title">Luna de Miel</h2>
                    <!-- Sección Isla Maldivas -->
                    <div class="section" id="luna-de-miel-isla-maldivas" data-section="luna-de-miel-isla-maldivas">
                        <h3>Isla Maldivas</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in isla_maldivas %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Luna de miel/Destinos/Islas maldivas/Hospedaje ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Sección Marruecos -->
                    <div class="section" id="luna-de-miel-marruecos" data-section="luna-de-miel-marruecos">
                        <h3>Marruecos</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in marruecos %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Luna de miel/Destinos/Marruecos/Hospedaje ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Sección Mykonos -->
                    <div class="section" id="luna-de-miel-mykonos" data-section="luna-de-miel-mykonos">
                        <h3>Mykonos</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in mykonos %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Luna de miel/Destinos/Mykonos/Hospedaje ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Sección Santorini -->
                    <div class="section" id="luna-de-miel-santorini" data-section="luna-de-miel-santorini">
                        <h3>Santorini</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in santorini %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Luna de miel/Destinos/Santorini/Hospedaje ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Sección Venecia -->
                    <div class="section" id="luna-de-miel-venecia" data-section="luna-de-miel-venecia">
                        <h3>Venecia</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in venecia %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Luna de miel/Destinos/Venecia/Hospedaje ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                <div id="novia" class="service">
                    <h2 class="cards-main-title">Novia</h2>
                    <!-- Sección Flores -->
                    <div class="section" id="novia-flores" data-section="novia-flores">
                        <h3>Flores</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in flores_novia %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Novia/Flores/Flor ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Sección Joyería -->
                    <div class="section" id="novia-joyeria" data-section="novia-joyeria">
                        <h3>Joyería</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in joyeria %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Novia/Joyeria/Joya ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Sección Peinados -->
                    <div class="section" id="novia-peinados" data-section="novia-peinados">
                        <h3>Peinados</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in peinados %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Novia/Peinados/Peinado ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Sección Vestido de fiesta -->
                    <div class="section" id="novia-vestido-de-fiesta" data-section="novia-vestido-de-fiesta">
                        <h3>Vestido de fiesta</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in vestido_fiesta %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Novia/Vestido de fiesta/Fiesta ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Sección Vestido de novia -->
                    <div class="section" id="novia-vestido-de-novia" data-section="novia-vestido-de-novia">
                        <h3>Vestido de novia</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in vestido_novia %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Novia/Vestido de novia/Vestido ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                <div id="novio" class="service">
                    <h2 class="cards-main-title">Novio</h2>
                    <!-- Sección Accesorios -->
                    <div class="section" id="novio-accesorios" data-section="novio-accesorios">
                        <h3>Accesorios</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in accesorios_novio %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Novio/Accesorios/Accesorio ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Sección Traje de Novio -->
                    <div class="section" id="novio-traje-de-novio" data-section="novio-traje-de-novio">
                        <h3>Traje de Novio</h3>
                        <div class="productos-seccion">
                            {% set contador_img = 0 %} <!-- Se hace uso de un contador para iterar el numero de veces de los productos y con este contador se le asignara la imagen correspondiente -->
                            {% for producto in traje_novio %}
                            {% set contador_img = loop.index %} <!-- Uso de loop.index:loop.index es una variable proporcionada por Jinja2 que devuelve el índice actual del ciclo, comenzando en 1.Esto elimina la necesidad de manejar manualmente el contador. -->    
                            <div class="card-vertical" data-selected="false">
                                    <img id="imagen-producto-{{ producto[0] }}" src="{{ url_for('static', filename='images/Catalogo_Img/Novio/Traje novio/Traje ' + contador_img|string + '.jpg') }}" alt="Imagen del Producto">
                                    <div class="card-info">
                                        <h3 id="nombre-producto-{{ producto[0] }}" class="text-body">{{ producto[2] }}</h3> <!-- opcion_nombre -->
                                        <p id="descripcion-producto-{{ producto[0] }}" class="text-body-little">{{ producto[1] }}</p> <!-- descripcion -->
                                        <div class="precio-div">
                                            <p>Precio: $</p>
                                            <p id="precio-producto-{{ producto[0] }}" class="text-body">{{ producto[3] }}</p> <!-- precio -->
                                        </div>
                                        <button class="card-button" data-product-id="{{ producto[0] }}" onclick="toggleCard(this)">Seleccionar</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>         
    </main>
    

    <!-- CARGAR SCRIPTS -->

    <script>
        function seccion_nombre(seccion_id) {
            // Mapear seccion_id a nombres de secciones
            const nombres = {
                1: 'Anillo de boda',
                2: 'Carro de matrimonio',
                3: 'Catering',
                4: 'Decoración',
                5: 'Locación',
                6: 'Lista de regalos',
                7: 'Música',
                8: 'Pastel de bodas',
                9: 'Fotografía y video',
                10: 'Invitaciones',
            };
            return nombres[seccion_id] || 'Sección Desconocida';
        }
    </script>
    <script src="../static/js/asideuser.js"></script>
    <script src="../static/js/user/selectproduct.js"></script>

</body>
</html>