<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_style.css') }}">
  
</head>
<body>
  
  <header>
    <nav>
      <ul>
        <label><a href="index.html">Home</a></label>
        <label><a href="login.html">Login</a></label>
      </ul>
    </nav>
  </header>
  <main>
    

    <div class="login_box">
      <h1 class="tittle">Login</h1>
      <form class="former" action="login.php" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
      </form>
    </div>
  </main>
  <footer>
    <p>Footer</p>
  </footer>
</body>
</html>