<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario - Boda Ideal</title>
    <link href="../static/css/font.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/colors.css" rel="stylesheet">
    <link href="../static/css/style_element/usuario.css" rel="stylesheet">


</head>
<body>
    <aside id="user-info" class="user-info">
        <h2 class="text-h2 negro">Bienvenido a</h2>
        <h2 class="text-h2 rojo">Boda Ideal</h2>
        <div class="user-container text-h3">
            <h3 class="text-body">Usuario: {{ user[1] }} {{ user[2] }}</h3>
            <h3 class="text-body">Correo: {{ user[3] }}</h3>
            <h3 class="text-body">Numero: {{ user[5] }}</h3>
            <h3 class="text-body">Ubicacion: {{ user[6] }}</h3>

            <!-- Imprime en consola todos los valores que tiene user para poder visualizarlos(se puede visualizar inspeccionando el html)(ELIMINAR PARA PRODUCCION) -->
            <script>
              console.log({{ user | tojson }});
            </script>
            <!-- Muestra el nombre del usuario usando la variable 'user' proporcionada por el servidor -->
            <!-- Botón para cerrar sesión -->
        </div>
        <a href="{{ url_for('logout') }}" class="button logout-a">Cerrar Sesión</a>
    </aside>
</body>
</html>
