<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Inicio de Sesion - Boda Fácil</title>
      <!-- Link de css -->
      <link href="../static/css/font.css" rel="stylesheet">
      <link href="../static/css/style_element/iniciosesion.css" rel="stylesheet">
      <link href="../static/css/style.css" rel="stylesheet">
      <link href="../static/css/colors.css" rel="stylesheet">
      
  </head>
  <body>
    <aside id="login-form" class="login-form">
      <!-- Contenido del formulario de inicio de sesión -->
      <div class="login-container text-h3">
        <h2 class="text-h2 negro">Bienvenido a</h2>
        <h2 class="text-h2 rojo">Boda Fácil</h2>
        
        <h2 class="text-h2 negro">USUARIO X</h2>

      </div>
    </aside>
    <!-- CARGAR SCRIPTS -->
    <script src="../static/js/transitionuserxregister.js"></script>
    <script src="../static/js/script.js"></script>
    
  </body>
  
</html>
