
/* CARD PRUEBA */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 32px;
    padding: 32px;
    justify-items: center;
}
.cards-container-up {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 32px;
}
.cards-container-down{
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 32px;
}



/* CARD HORIZONTAL */
.card-horizontal {
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 8px #00000026;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 20px;

    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    max-height: 300px;   
}


.card-horizontal img{
    min-width: 40%;
    max-width: 50%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.card-info {
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-info h2 {

}

.card-info p {
    overflow: hidden;
}
.card-info p:hover {
    overflow: auto;
}

.card-button {
    background-color: var(--color-primario);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.card-button:hover {
    background-color: var(--color-primario-oscuro-1);
    transition-duration: 0.2s;
}

/* CARD VERTICAL */
.card-vertical {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px #00000026;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 20px;
    
    min-height: 300px;
    max-width: 300px;
    max-height: 400px;
}

.card-vertical img{
    max-width: 100%;
    height: 50%;
    min-height: 50%;
    border-radius: 20px 20px 0px 0px;
}

/* animacion que hace que la imagen se vuelva 3 veces mas grande cuando pasa el mouse por encima */
.card-vertical img:hover {
    transform: scale(1.3);
    border-radius: 20%;
    transition-duration: 0.5s;
    box-shadow: 0 2px 8px #00000026;
    
}


