
.main-content {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-factura {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    width: max-content;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    animation: slideInFromRight 1s ease-out;
    transition: transform 0.3s, box-shadow 0.3s;
}
.contenedor-factura:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}