/* Estilos generales */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    scroll-padding-top: 85px;/* para que no se oculte el contenido al hacer scroll */
}

.main-catalogo {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    width: 100%;
    height: 100%;
}

.catalogo-servicios {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.menu-catalogo {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    position: fixed;
    height: 90%; /* Asegura que ocupe toda la altura de la pantalla */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    
}
.menu-catalogo h3{
    margin: 0px;
    padding: 10px;
    width: 100%;
    color: var(--color-neutro-oscuro);
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #d9d9d9;

}

/* Estilos barra deslizable aside */
/* Estilos para la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
.menu-catalogo::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

.menu-catalogo::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color del fondo de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados del fondo de la barra */
}

.menu-catalogo::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados de la barra */
    border: 3px solid rgba(255, 255, 255, 0.3); /* Borde alrededor de la barra, dando un efecto de separación */
}

.menu-catalogo::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7); /* Color de la barra de desplazamiento al pasar el mouse por encima */
}

/* Estilos para la barra de desplazamiento en Firefox */
.menu-catalogo {
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); /* Color de la barra de desplazamiento y del fondo */
}

.espacio-menu-catalogo {
    padding-left: calc(10% + 32px);
    height: 100%;
    width: 100%;
}
.menu-catalogo{
    width: auto;
}

.menu-catalogo a{
    display: flex;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 0.5px solid #d9d9d9;
}

.menu-catalogo a button{
    display: flex;
    width: 100%;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: none;
}
.menu-catalogo a button:hover{
    background: var(--color-secundario-claro-6);
    color: var(--color-neutro-oscuro);
    border-radius: 5px;
}


.menu-catalogo-seccion a {
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.menu-catalogo-seccion a button{
    font-weight: normal;
    padding: 0%;
    margin: 0%;
}

.menu-catalogo-seccion {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

/* ESTILOS los productos */
.contenedor-catalogo {
    padding-bottom: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.productos-seccion {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    width: 100%;
    height: 90%;
}

.selected {
    border: 2px solid var(--color-secundario-claro-1); /* Cambia el estilo según tus necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.cards-main-title {
    text-align: center;
    border-top: 1px solid #d1d1d1;
    padding: 15px;
}

.main-title {
    color: var(--color-neutro-oscuro);
    text-align: center;
   
}

.container-carrito-botton a i{
    position: fixed;
    bottom: 32px;
    right: 32px;
}
.container-carrito-botton a i{
    font-size: 32px;
    padding: 16px;
    color: var(--color-neutro-claro);
    background-color: var(--color-secundario-claro-2);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.container-carrito-botton a i:hover {
    font-size: 36px;
    background-color: var(--color-secundario);
    transition: 0.3s;
}