/* Estilos generales */
* {
    font-family: "Merriweather", serif;
    color: var(--color-neutro-oscuro);
  }
  
    .user-info {
        /* CONTENIDO HTML */
        max-width: 400px;
        height: 100%;
        /* CONTENIDO BODY */
        margin: 0;
        padding: 0;
        background-color: var(--color-neutro-claro);
    
        /* CONTENIDO ASIDE */
        padding: 32px;
        overflow: hidden; /* Oculta las barras de desplazamiento */;
    
    }

    .user-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 16px;
        gap: 8px;
    }

    h2 {
        text-align: center;
    }
    .negro{
        color: var(--color-neutro-oscuro);
    }
    .rojo{
        color: var(--color-primario-oscuro-1);
    }
    /* Estilos para el a cerrar sesion */
    .logout-a{
        display: flex;
        color: var(--color-secundario-claro-1);
        text-decoration: none;
        font-weight: bold;
        margin-top: 16px;
        justify-content: center;
    }
    .logout-a:hover{
        background-color: var(--color-secundario-claro-3);
        color: var(--color-neutro-claro);
        background-size: 50%;
    }